@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .hide {
    display: none;
  }

  .disabled {
    background-color: #000000aa;
  }

  .active {
    background-color: #d4ff15aa;
  }
}